/* ------------ PAGE 404 ------------ */

/* helpers/animation-shake.css */

@keyframes shake-vertical {

    15%,
    45%,
    75% {
        transform: translateY(-0.75rem);
    }

    30%,
    60% {
        transform: translateY(0.75rem);
    }

}

.animation--shake--vertical {
    animation-name: shake-vertical;
    will-change: transform;
}

:root {
    --grid-max-width: 40rem;
    --grid-width: 90%;
    --grid-gutter: 3%;
}

.grid__404 {
    height: 250px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    max-width: var(--grid-max-width);
    width: var(--grid-width);
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin: calc(var(--grid-gutter) / -2);
}

.grid__col {
    margin: calc(var(--grid-gutter) / 2);
    flex-grow: 1;
}

/* layout/base.css */

:root {
    --html-font-size: 100%;
    --body-background-color: #f9f8f5;
    --body-color: #353535;
    --body-font-family: 'Roboto';
    --body-font-family-fallback: sans-serif;
    --body-font-size: 1rem;
    --body-font-weight: 400;
    --body-line-height: 1.5;
}

:root {
    --box-background-color: #fff;
    --box-padding-horizontal: 2rem;
    --box-padding-vertical: 3rem;
}

.box_404 {
    background-color: var(--box-background-color);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
    font-size: 6.25rem;
    padding-bottom: var(--box-padding-vertical);
    padding-left: var(--box-padding-horizontal);
    padding-right: var(--box-padding-horizontal);
    padding-top: var(--box-padding-vertical);
    text-align: center;
}

.notfound {
    height: 225px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: var(--grid-max-width);
    width: var(--grid-width);

}

.align {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* helpers/animation.css */

.animation {
    animation-duration: 0.6s;
    animation-fill-mode: both;
}

.animation--reverse {
    animation-direction: reverse;
}
