/* ------------ FOOTER ------------ */

p.text-center.text-md-left > a.cgu {
    font-weight: normal;
    padding-left: 30px;
    font-size: 10px;
    text-decoration: none;
}

p.text-center.text-md-left > a.mentions {
    padding-left: 10px;
    font-weight: normal;
    font-size: 10px;
}

p.text-center.text-md-left > a.faq {
    font-weight: normal;
    padding-left: 10px;
    font-size: 10px;
}

.page-footer {
    background-color: #3C5186!important;
}