/* ------------ HEADER ------------ */

.nav .navbar {
    height: 80px;
}

nav.navbar.navbar-expand-lg.navbar-dark.fixed-top {
    background-color: #3C5186;
    height: 75px;
}

.navbar-brand .logo {
    width: 75px;
}

div#navbarSupportedContent {
    height: 75px;
}

a.navbar-brand {
    margin-right: 0;
    padding: 0;
}