@import url('https://fonts.googleapis.com/css?family=Sedgwick+Ave');

/* ------------ SECTION ------------ */


body {
    background-color: #F9FADC;
}

.image-accueil {
    width: 100%;
}

.section-features {
    width: 80%;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 100px;
}

#features {
    margin-bottom: 80px;
}

.presentation {
    width: 95%;
    margin: auto;
    margin-top: 85px;
    margin-bottom: 100px;
}

main {
    margin-top: 250px;
}
.main-bottom {
    width: 100%;
    margin: auto;
}

.icons-wrapper {
    margin-top: 30px;
    margin-bottom: 5%;
    text-align: center;
}

.icons1, .icons2, .icons3, .icons4 {
    font-size: 125px;
    text-align: center;
    margin-bottom: 50px;
}

.icons1 {
    color: #008B35;
}
.icons2 {
    color: #FFBC4B;
}
.icons3 {
    color: #FE4534;
}



/* ------------ SECTION: PARALLAX EFFECT ------------ */

@import url(https://fonts.googleapis.com/css?family=Oswald:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);

/* Override UGG site */
#main {
    width: 100%; padding:0;
}
.content-asset p {
    margin:0 auto;
}
.breadcrumb {
    display:none;
}
.top-parallax {
    margin-top: 50px;
}

/* Helpers */
/**************************/
.margin-top-10 {
    padding-top:10px;
}
.margin-bot-10 {
    padding-bottom:10px;
}

/* Typography */
/**************************/
#parallax-world-of-ugg h1 {font-family:'Oswald', sans-serif; font-size:24px; font-weight:400; text-transform: uppercase; color:black; padding:0; margin:0;}
#parallax-world-of-ugg h2 {font-family:'Oswald', sans-serif; font-size:70px; /*letter-spacing:10px*/; text-align:center; color: #FAFCFE; width: 80%; margin: auto; font-weight:400; text-transform:uppercase; z-index:10; margin-top: 5%;}
#parallax-world-of-ugg h3 {font-family:'Oswald', sans-serif; font-size:24px; font-weight:400; letter-spacing:8px; text-transform: uppercase; color:black; margin-bottom: 20px;}
#parallax-world-of-ugg p {font-family:'Source Sans Pro', sans-serif; font-weight:400; font-size:17px; line-height:24px;}

.section-features h2 {font-family:'Oswald', sans-serif; font-size:60px!important; /*letter-spacing:10px*/; text-align:center; color: #3C5186 !important; width: 80%; margin: auto; font-weight:400; z-index:10; opacity:.9; margin-top: 5% !important; margin-bottom: 3% !important;}
.first-character {font-weight:400; float: left; font-size: 84px; line-height: 64px; padding-top: 4px; padding-right: 8px; padding-left: 3px; font-family: 'Source Sans Pro', sans-serif;}

.sc {color: #3b8595;}
.ny {color: #3d3c3a;}
.atw {color: #c48660;}

/* Section - Title */
/**************************/
#parallax-world-of-ugg .title {background: white; padding: 60px; margin:0 auto; text-align:center;}
#parallax-world-of-ugg .title h1 {font-size:35px; letter-spacing:8px;}

/* Section - Block */
/**************************/
#parallax-world-of-ugg .block {background: white; padding: 60px; width:80%; margin:0 auto; text-align:justify;}
#parallax-world-of-ugg .block-gray {background: #f2f2f2;padding: 60px;}
#parallax-world-of-ugg .section-overlay-mask {position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: black; opacity: 0.70;}

/* Section - Parallax */
/**************************/
#parallax-world-of-ugg .parallax-one {padding-top: 200px; padding-bottom: 200px; overflow: hidden; position: relative; width: 100%; height: 800px; background-image: url("../img/preschool1.jpg"); background-attachment: fixed; background-size: cover; -moz-background-size: cover; -webkit-background-size: cover; background-repeat: no-repeat; background-position: 0px 0px;}
#parallax-world-of-ugg .parallax-two {padding-top: 200px; padding-bottom: 200px; overflow: hidden; position: relative; width: 100%; height: 800px; background-image: url("../img/preschool3.jpg"); background-attachment: fixed; background-size: cover; -moz-background-size: cover; -webkit-background-size: cover; background-repeat: no-repeat; background-position: center center;}

/* Extras */
/**************************/
#parallax-world-of-ugg .line-break {border-bottom:1px solid black; width: 200px; margin:auto; margin-top:4%;}



/* Media Queries */
/**************************/
@media screen and (max-width: 959px) and (min-width: 768px) {
    #parallax-world-of-ugg .block {padding: 30px; width:80%;}
}
@media screen and (max-width: 767px) {
    #parallax-world-of-ugg .block {padding: 30px; width:100%;}
    #parallax-world-of-ugg h2 {font-size:30px;}
    #parallax-world-of-ugg .block {padding: 30px;}
    #parallax-world-of-ugg .parallax-one, #parallax-world-of-ugg .parallax-two, #parallax-world-of-ugg {padding-top:100px; padding-bottom:100px;}
}
@media screen and (max-width: 479px) {
    #parallax-world-of-ugg .block {padding: 30px 15px; width:290px;}
}


/* ------------ LOADING SCREEN ------------ */

/* WIP */




/* ------------ RGPD & CGU ------------ */


.rgpd_def {
    text-decoration: underline solid #007bff  ;
    color: #007bff;
    text-align: center;
}
.rgpd_info h2{
    text-decoration: underline solid #007bff  ;
    color: #007bff;
    text-align: center;
}
.rgpd_info p{

    color: #5b5e6d;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
}

.rgpd_droiteff h2{
    text-decoration: underline solid #007bff  ;
    color: #007bff;
    text-align: center;
}
.rgpd_droiteff p{

    color: #5b5e6d;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
}
.rgpd_droitport h2{
    text-decoration: underline solid #007bff  ;
    color: #007bff;
    text-align: center;
}
.rgpd_droitport p{

    color: #5b5e6d;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
}
.rgpd_actioncol h2{
    text-decoration: underline solid #007bff  ;
    color: #007bff;
    text-align: center;
}
.rgpd_actioncol p{

    color: #5b5e6d;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
}
.rgpd_opp h2{
    text-decoration: underline solid #007bff  ;
    color: #007bff;
    text-align: center;
}
.rgpd_opp p{

    color: #5b5e6d;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
}
.rgpd_obli h2{
    text-decoration: underline solid #007bff  ;
    color: #007bff;
    text-align: center;
}
.rgpd_obli p{

    color: #5b5e6d;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.rgpd_protect h2{
    text-decoration: underline solid #007bff  ;
    color: #007bff;
    text-align: center;
}
.rgpd_protect p{

    color: #5b5e6d;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.rgpd_DPO h2{
    text-decoration: underline solid #007bff  ;
    color: #007bff;
    text-align: center;
}
.rgpd_DPO p{

    color: #5b5e6d;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.rgpd_controle h2{
    text-decoration: underline solid #007bff  ;
    color: #007bff;
    text-align: center;
}
.rgpd_controle p{

    color: #5b5e6d;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.rgpd_sanction h2{
    text-decoration: underline solid #007bff  ;
    color: #007bff;
    text-align: center;
}
.rgpd_sanction  p{

    color: #5b5e6d;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.cgu {
    text-decoration: underline solid #007bff  ;
    color: #007bff;
    text-align: center;
}
.cgu_article1 h3{
    text-decoration: underline solid #007bff  ;
    color: #007bff;
    text-align: center;
}
.cgu_article1 p{
    color: #5b5e6d;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
}

.cgu_article2 h3{
    text-decoration: underline solid #007bff  ;
    color: #007bff;
    text-align: center;
}
.cgu_article2 p{
    color: #5b5e6d;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
}
.cgu_article3 h3{
    text-decoration: underline solid #007bff  ;
    color: #007bff;
    text-align: center;
}
.cgu_article3 p{
    color: #5b5e6d;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
}
.cgu_article4 h3{
    text-decoration: underline solid #007bff  ;
    color: #007bff;
    text-align: center;
}
.cgu_article4 p{
    color: #5b5e6d;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
}
.cgu_article5 h3{
    text-decoration: underline solid #007bff  ;
    color: #007bff;
    text-align: center;
}
.cgu_article5 p{
    color: #5b5e6d;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
}

.cgu_article6 h3{
    text-decoration: underline solid #007bff  ;
    color: #007bff;
    text-align: center;
}
.cgu_article6 p{
    color: #5b5e6d;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
}
.cgu_article7 h3{
    text-decoration: underline solid #007bff  ;
    color: #007bff;
    text-align: center;
}
.cgu_article7 p{
    color: #5b5e6d;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
}
.cgu_article8 h3{
    text-decoration: underline solid #007bff  ;
    color: #007bff;
    text-align: center;
}
.cgu_article8 p{
    color: #5b5e6d;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
}
.cgu_article9 h3{
    text-decoration: underline solid #007bff  ;
    color: #007bff;
    text-align: center;
}
.cgu_article9 p{
    color: #5b5e6d;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
}
.cgu_article10 h3{
    text-decoration: underline solid #007bff  ;
    color: #007bff;
    text-align: center;
}
.cgu_article10 p{
    color: #5b5e6d;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
}
.cgu_article11 h3{
    text-decoration: underline solid #007bff  ;
    color: #007bff;
    text-align: center;
}
.cgu_article11 p{
    color: #5b5e6d;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
}
.picture_user_profil{

    text-align: center;
    margin-top: 80px;
    margin-bottom: 100px;
    padding-top: 25px ;
}
.informations_user_profil{

    text-align: center;
    list-style: none;
    color: black ;
    margin-top: 80px;
    margin-bottom: 100px;
    padding-top: 25px ;
    padding-bottom: 25px ;
}
.informations_user_profil li a{
    list-style: none;
    color: black ;
}

.profil_user h2{
    text-align: center;
}
.picture_pro_profil{

    text-align: center;
    margin-top: 80px;
    margin-bottom: 100px;
    padding-top: 25px ;
}
.informations_pro_profil{

    text-align: center;
    list-style: none;
    color: black ;
    margin-top: 80px;
    margin-bottom: 100px;
    padding-top: 25px ;
    padding-bottom: 25px ;

}
.informations_pro_profil li a{
    list-style: none;
    color: black ;
}
.profil_pro{
    position: absolute;
    background-size: cover ;
    background-repeat: no-repeat ;
}
.profil_pro h2{
    text-align: center;
}

.pro_profil h5 {

    margin: 0px;

}
.pro_profil p{
    width:  150px;
    margin: 0;

}

::-webkit-scrollbar {
    display: none;
}
